@{
    Layout ="_Layout";
}

@*@model IEnumerable<ЛР_1.DAL.Entities.Course>

    @{
        ViewData["Title"] = "_ViewStart";
    }

    <h1>_ViewStart</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sr_ball)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sr_ball)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.GroupId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.studId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.studId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.studId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
