@page
@model ЛР_1.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Sr_ball)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Sr_ball)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Group.GroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.studId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
