@model ListViewModel<Course>

@{
    ViewData["Title"] = "Предлагаемые курсы";
    var categories = ViewData["Groups"] as IEnumerable<Groups>;
    int currentGroup = (int)ViewData["CurrentGroup"];
    var text = currentGroup != 0
    ? categories
    .FirstOrDefault(g => g.GroupId == currentGroup)?
    .GroupName
    : "Все курсы";
}
<h1>Курсы:</h1>
<div class="row">
    <div class="col-2">
        <div class="col-2">
            <div class="dropdown mt-2">
                <a class="btn btn-primary dropdown-toggle"
                   asp-action="Index" asp-controller="Product"
                   role="button"
                   id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">

                    @text
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdownMenuLink">

                    <a class="dropdown-item"
                       asp-action="Index"
                       asp-controller="Product">Все</a>
                    @foreach (var item in categories)
                    {
                        <a class="dropdown-item"
                           asp-action="Index"
                           asp-controller="Product"
                           asp-route-group="@item.GroupId"
                           asp-route-pageNo="1">@item.GroupName</a>
                    }
                </div>
                <br />
                <br />
            </div>
        </div>
    </div><br />
   
          <div class="col-md-6">
              <br />
              <br />
              <br />
              <div class="row">
                  <div class="card-group" id="list">
                      @*@foreach (var item in Model)
                {*@
                      @*<partial name="_ListItemPartial" model="@item" />*@
                      <partial name="_ListPartial" model="@Model" />

                      @*}*@
                  </div>
              </div>
              <pager page-current="@Model.CurrentPage"
                     page-total="@Model.TotalPages"
                     action="Index"
                     controller="Product"
                     group-id="@currentGroup"></pager>
          </div>
</div>

        @*<p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.studId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Firstname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lastname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sr_ball)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.studId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sr_ball)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
            }
                </tbody>
            </table>*@
